:root {
  --md-source: 103 80 164;
  /* primary */
  --md-ref-palette-primary0: 0 0 0;
  --md-ref-palette-primary10: 33 0 93;
  --md-ref-palette-primary20: 56 30 114;
  --md-ref-palette-primary30: 79 55 139;
  --md-ref-palette-primary40: 103 80 164;
  --md-ref-palette-primary50: 127 103 190;
  --md-ref-palette-primary60: 154 130 219;
  --md-ref-palette-primary70: 182 157 248;
  --md-ref-palette-primary80: 208 188 255;
  --md-ref-palette-primary90: 234 221 255;
  --md-ref-palette-primary95: 246 237 255;
  --md-ref-palette-primary99: 255 251 254;
  --md-ref-palette-primary100: 255 255 255;
  /* secondary */
  --md-ref-palette-secondary0: 0 0 0;
  --md-ref-palette-secondary10: 29 25 43;
  --md-ref-palette-secondary20: 51 45 65;
  --md-ref-palette-secondary30: 74 68 88;
  --md-ref-palette-secondary40: 98 91 113;
  --md-ref-palette-secondary50: 122 114 137;
  --md-ref-palette-secondary60: 149 141 165;
  --md-ref-palette-secondary70: 176 167 192;
  --md-ref-palette-secondary80: 204 194 220;
  --md-ref-palette-secondary90: 232 222 248;
  --md-ref-palette-secondary95: 246 237 255;
  --md-ref-palette-secondary99: 255 251 254;
  --md-ref-palette-secondary100: 255 255 255;
  /* tertiary */
  --md-ref-palette-tertiary0: 0 0 0;
  --md-ref-palette-tertiary10: 49 17 29;
  --md-ref-palette-tertiary20: 73 37 50;
  --md-ref-palette-tertiary30: 99 59 72;
  --md-ref-palette-tertiary40: 125 82 96;
  --md-ref-palette-tertiary50: 152 105 119;
  --md-ref-palette-tertiary60: 181 131 146;
  --md-ref-palette-tertiary70: 210 157 172;
  --md-ref-palette-tertiary80: 239 184 200;
  --md-ref-palette-tertiary90: 255 216 228;
  --md-ref-palette-tertiary95: 255 236 241;
  --md-ref-palette-tertiary99: 255 251 250;
  --md-ref-palette-tertiary100: 255 255 255;
  /* error */
  --md-ref-palette-error0: 0 0 0;
  --md-ref-palette-error10: 65 14 11;
  --md-ref-palette-error20: 96 20 16;
  --md-ref-palette-error30: 140 29 24;
  --md-ref-palette-error40: 179 38 30;
  --md-ref-palette-error50: 220 54 46;
  --md-ref-palette-error60: 228 105 98;
  --md-ref-palette-error70: 236 146 142;
  --md-ref-palette-error80: 242 184 181;
  --md-ref-palette-error90: 249 222 220;
  --md-ref-palette-error95: 252 238 238;
  --md-ref-palette-error99: 255 251 249;
  --md-ref-palette-error100: 255 255 255;
  /* neutral */
  --md-ref-palette-neutral0: 0 0 0;
  --md-ref-palette-neutral10: 28 27 31;
  --md-ref-palette-neutral20: 49 48 51;
  --md-ref-palette-neutral30: 72 70 73;
  --md-ref-palette-neutral40: 96 93 98;
  --md-ref-palette-neutral50: 120 117 121;
  --md-ref-palette-neutral60: 147 144 148;
  --md-ref-palette-neutral70: 174 170 174;
  --md-ref-palette-neutral80: 201 197 202;
  --md-ref-palette-neutral90: 230 225 229;
  --md-ref-palette-neutral95: 244 239 244;
  --md-ref-palette-neutral99: 255 251 254;
  --md-ref-palette-neutral100: 255 255 255;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: 0 0 0;
  --md-ref-palette-neutral-variant10: 29 26 34;
  --md-ref-palette-neutral-variant20: 50 47 55;
  --md-ref-palette-neutral-variant30: 73 69 79;
  --md-ref-palette-neutral-variant40: 96 93 102;
  --md-ref-palette-neutral-variant50: 121 116 126;
  --md-ref-palette-neutral-variant60: 147 143 153;
  --md-ref-palette-neutral-variant70: 174 169 180;
  --md-ref-palette-neutral-variant80: 202 196 208;
  --md-ref-palette-neutral-variant90: 231 224 236;
  --md-ref-palette-neutral-variant95: 245 238 250;
  --md-ref-palette-neutral-variant99: 255 251 254;
  --md-ref-palette-neutral-variant100: 255 255 255;
  /* light */
  --md-sys-color-primary-light: 103 80 164;
  --md-sys-color-on-primary-light: 255 255 255;
  --md-sys-color-primary-container-light: 234 221 255;
  --md-sys-color-on-primary-container-light: 33 0 93;
  --md-sys-color-secondary-light: 98 91 113;
  --md-sys-color-on-secondary-light: 255 255 255;
  --md-sys-color-secondary-container-light: 232 222 248;
  --md-sys-color-on-secondary-container-light: 29 25 43;
  --md-sys-color-tertiary-light: 125 82 96;
  --md-sys-color-on-tertiary-light: 255 255 255;
  --md-sys-color-tertiary-container-light: 255 216 228;
  --md-sys-color-on-tertiary-container-light: 49 17 29;
  --md-sys-color-error-light: 179 38 30;
  --md-sys-color-on-error-light: 255 255 255;
  --md-sys-color-error-container-light: 249 222 220;
  --md-sys-color-on-error-container-light: 65 14 11;
  --md-sys-color-outline-light: 121 116 126;
  --md-sys-color-background-light: 255 251 254;
  --md-sys-color-on-background-light: 28 27 31;
  --md-sys-color-surface-light: 255 251 254;
  --md-sys-color-on-surface-light: 28 27 31;
  --md-sys-color-surface-variant-light: 231 224 236;
  --md-sys-color-on-surface-variant-light: 73 69 79;
  --md-sys-color-inverse-surface-light: 49 48 51;
  --md-sys-color-inverse-on-surface-light: 244 239 244;
  --md-sys-color-inverse-primary-light: 208 188 255;
  --md-sys-color-shadow-light: 0 0 0;
  --md-sys-color-surface-tint-light: 103 80 164;
  --md-sys-color-outline-variant-light: 202 196 208;
  --md-sys-color-scrim-light: 0 0 0;
  /* dark */
  --md-sys-color-primary-dark: 208 188 255;
  --md-sys-color-on-primary-dark: 56 30 114;
  --md-sys-color-primary-container-dark: 79 55 139;
  --md-sys-color-on-primary-container-dark: 234 221 255;
  --md-sys-color-secondary-dark: 204 194 220;
  --md-sys-color-on-secondary-dark: 51 45 65;
  --md-sys-color-secondary-container-dark: 74 68 88;
  --md-sys-color-on-secondary-container-dark: 232 222 248;
  --md-sys-color-tertiary-dark: 239 184 200;
  --md-sys-color-on-tertiary-dark: 73 37 50;
  --md-sys-color-tertiary-container-dark: 99 59 72;
  --md-sys-color-on-tertiary-container-dark: 255 216 228;
  --md-sys-color-error-dark: 242 184 181;
  --md-sys-color-on-error-dark: 96 20 16;
  --md-sys-color-error-container-dark: 140 29 24;
  --md-sys-color-on-error-container-dark: 249 222 220;
  --md-sys-color-outline-dark: 147 143 153;
  --md-sys-color-background-dark: 28 27 31;
  --md-sys-color-on-background-dark: 230 225 229;
  --md-sys-color-surface-dark: 28 27 31;
  --md-sys-color-on-surface-dark: 230 225 229;
  --md-sys-color-surface-variant-dark: 73 69 79;
  --md-sys-color-on-surface-variant-dark: 202 196 208;
  --md-sys-color-inverse-surface-dark: 230 225 229;
  --md-sys-color-inverse-on-surface-dark: 49 48 51;
  --md-sys-color-inverse-primary-dark: 103 80 164;
  --md-sys-color-shadow-dark: 0 0 0;
  --md-sys-color-surface-tint-dark: 208 188 255;
  --md-sys-color-outline-variant-dark: 73 69 79;
  --md-sys-color-scrim-dark: 0 0 0;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.5px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.4px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.1px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.5px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.5px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.1px;

  --md-sys-elevation-0: none;
  --md-sys-elevation-1: 0px 3px 1px -2px rgb(var(--md-sys-color-shadow) / 0.2),
    0px 2px 2px 0px rgb(var(--md-sys-color-shadow) / 0.14),
    0px 1px 5px 0px rgb(var(--md-sys-color-shadow) / 0.12);
  --md-sys-elevation-2: 0px 2px 4px -1px rgb(var(--md-sys-color-shadow) / 0.2),
    0px 4px 5px 0px rgb(var(--md-sys-color-shadow) / 0.14),
    0px 1px 10px 0px rgb(var(--md-sys-color-shadow) / 0.12);
  --md-sys-elevation-3: 0px 5px 5px -3px rgb(var(--md-sys-color-shadow) / 0.2),
    0px 8px 10px 1px rgb(var(--md-sys-color-shadow) / 0.14),
    0px 3px 14px 2px rgb(var(--md-sys-color-shadow) / 0.12);
  --md-sys-elevation-4: 0px 5px 5px -3px rgb(var(--md-sys-color-shadow) / 0.2),
    0px 8px 10px 1px rgb(var(--md-sys-color-shadow) / 0.14),
    0px 3px 14px 2px rgb(var(--md-sys-color-shadow) / 0.12);
  --md-sys-elevation-5: 0px 8px 10px -6px rgb(var(--md-sys-color-shadow) / 0.2),
    0px 16px 24px 2px rgb(var(--md-sys-color-shadow) / 0.14),
    0px 6px 30px 5px rgb(var(--md-sys-color-shadow) / 0.12);
}
