@import "$lib/etc/styles.css";
@import "$lib/etc/recommended-styles.css";

@function --m3-density(--size) {
  result: calc(var(--size) + (var(--density) * 0.25rem));
}

:root {
  @apply --m3-body-large;
  background-color: var(--m3c-surface);
  color: var(--m3c-on-surface);
}

body {
  margin: 0;
}
