name: Check PR

on:
  pull_request:

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        name: PNPM
        with:
          version: latest
          run_install: false
      - name: Run install
        run: pnpm install
      - name: Build site
        run: pnpm run build
      - name: Build library
        run: pnpm run prepack
